<div *ngIf="loadingMain">
    <img class="loading" src="../../../assets/loading/loading.gif">
</div>
<article class="container" *ngIf="codes">
    <section *ngIf="codes == 1">
        <br>
        <div class="col col-lg-12 left">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="summary" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Resumen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="positioning" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Posicionamiento mundial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="comparative" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Comparativo por indicador</a>
                </li>
            </ul>
            <br>
        </div>
        <router-outlet></router-outlet>
    </section>
    <section *ngIf="codes == 2">
        <br>
        <div class="col col-lg-12 left">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="summary" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Resumen</a>
                </li>
                <li class="nav-item type-text">
                    <a class="nav-link" [routerLink]="worldComparison" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Comparativa mundial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="comparisonByMeasures"
                        [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Comparación por
                        medidas</a>
                </li>
            </ul>
            <br>
        </div>
        <router-outlet></router-outlet> <!-- recrear todos los com. hijos -->
    </section>
    <section *ngIf="codes == 3">
        <div class="col col-lg-12 left">
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="summary" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Resumen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="patents" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Patentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="marineTransport"
                        [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Transporte marítimo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="railways" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Ferrocarriles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link type-text" [routerLink]="airTransport" [routerLinkActiveOptions]="{exact: true}"
                        routerLinkActive="active">Transporte aéreo</a>
                </li>
            </ul>
            <br>
        </div>
        <router-outlet></router-outlet>
    </section>
</article>