.border-control-tab {
    border: 2px solid #ACACAC;
    border-top-color: #000;
}

.border-control-tab2 {
    border: 1px solid #F2F2F2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.pull-right {
    float: right !important;
}

.title-tab {
    margin: 9px;
    margin-bottom: -1px;
    color: #121212;
    font-weight: 600;
}

.nav-tabs .nav-link.active {
    background-color: #121212;
    color: #fff;
    border: 0;
}

.nav-tabs .nav-link {
    background-color: #e0e0e0;
    border: 0;
    color: #0056AC;
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border-control-grafica {
    padding-top: 20px;
    padding-right: 20px;
}