
   
   
    
        <div class="mt-5">
            <div class="row form-inline">
                <div class="col">
                    <nav>
                        <div class="nav nav-tabs pull-right" id="myTab" role="tablist">
                            
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active type-text " id="tab-bar" data-bs-toggle="tab" data-bs-target="#graphic-tab-bar"
                                    type="button" role="tab" aria-controls="graphic-tab-bar" aria-selected="true">Barra</button>
                            </li>
                            
                            <li class="nav-item" role="presentation">
                                <button class="nav-link type-text" id="tab-column" data-bs-toggle="tab" 
                                data-bs-target="#graphic-tab-column"
                                    type="button" role="tab" aria-controls="graphic-tab-column"
                                    aria-selected="false">Columna</button>
                            </li>
                            
                            <li class="nav-item " role="presentation">
                                <button class="nav-link type-text" id="tab-line" data-bs-toggle="tab" 
                                data-bs-target="#graphic-tab-line"
                                    type="button" role="tab" aria-controls="graphic-tab-line" aria-selected="false">Línea</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link type-text" id="tab-area" data-bs-toggle="tab" data-bs-target="#graphic-tab-area"
                                    type="button" role="tab" aria-controls="graphic-tab-area" aria-selected="false">Área</button>
                            </li>
                        </div>
                    </nav>
                    <h3 class="title-tab">Comparativa</h3>
                </div>
            </div>
            
        </div>
        
    


