.btn-buscar {
    background-color: #121212;
    width: 100%;
    padding: 6px;
    color: #fff;
  }
  @media (min-width: 768px) {
    .btn-buscar {
      width: 50%;
      padding: 6px; /* Ajusta los valores de padding según sea necesario para pantallas medianas */
    }
  }
/*
.charts {
    margin: auto;
    overflow: hidden;
}
*/
.pie {
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 10px;
    text-align: justify;
    
}


  .btn-buscar:hover {
    background: #4C515A; /* Crea un degradado de azul oscuro a azul claro */
  }
  .type-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  ::ng-deep .mat-form-field-infix {
    border-top: 0;
  }
  
  ::ng-deep .mat-form-field-underline {
    height: 0 !important;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    color: white;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0;
  }
  .mat-form-field {
    width: 100%;
  }

  
  .border-control-tab {
    border: 2px solid #ACACAC;
    border-top-color: #000;
}
.title-tab {
  margin: 9px;
  margin-bottom: -1px;
  color: #121212;
  font-weight: 600;
}

.mat-icon-button .mat-icon {
  font-size: 24px;
}
.mat-form-field {
  width: 100%;
}
.mat-date-range-input {
  font-size: 16px;
  line-height: 1.2;
  padding: 8px;
  border-radius: 4px;
  
}
.mat-date-range-input input {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}


.type-text{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.border-control-tab {
  border: 2px solid #ACACAC;
  border-top-color: #000;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-infix {
  border-top: 0;
}

::ng-deep .mat-form-field-underline {
  height: 0 !important;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
}


.mat-standard-chip {
  border-radius: 0;
}

.justify-content-right {
  justify-content: right;
}

.pull-right {
  float: right !important;
}

.title-tab {
  margin: 9px;
  margin-bottom: -1px;
  color: #121212;
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  background-color: #121212;
  color: #fff;
  border: 0;
}

.nav-tabs .nav-link {
  background-color: #e0e0e0;
  border: 0;
  color: #0056AC;
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}