<br>
<div *ngIf="loadingRailways">
    <img class="loading" src="./././assets/loading/loading.gif">
</div>
<article class="container" *ngIf="!loadingRailways">
    <form [formGroup]="formGraficarRailways!" *ngIf="formGraficarRailways">
        <section>
            <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
                <div class="col mb-3">
                    <div class="contenedor-control h-100">
                        <label>Año</label>
                        <mat-form-field>
                            <mat-label>Seleccionar ...</mat-label>
                            <mat-select multiple [formControl]="aniosRailways">
                                <mat-select-trigger>
                                    {{aniosRailways.value ? aniosRailways.value[0] : ''}}
                                    <span *ngIf="aniosRailways.value?.length > 1" class="example-additional-selection">
                                        (+{{aniosRailways.value.length - 1}} {{aniosRailways.value?.length === 2 ?
                                        'otro' : 'otros'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option (click)="getFiltrosAplicadosRailways(yearRailways, yearRailways, 'A')"
                                    *ngFor="let yearRailways of yearsRailways"
                                    [value]="yearRailways">{{yearRailways}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="contenedor-control h-100">
                        <label id="comparadoRail">Perú comparado con:</label>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button class="type-text14" value="1" checked>País</mat-radio-button>
                            <mat-radio-button class="type-text14" value="2">Grupo de países</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="contenedor-control h-100">
                        <label id="paisRail">País</label>
                        <mat-form-field>
                            <mat-label id="seleccioneRail">Seleccione ...</mat-label>
                            <mat-select multiple [formControl]="paisesRailways">
                                <mat-select-trigger>
                                    {{paisesRailways.value ? paisesRailways.value[0] : ''}}
                                    <span *ngIf="paisesRailways.value?.length > 1" class="example-additional-selection">
                                        (+{{paisesRailways.value.length - 1}} {{paisesRailways.value?.length === 2 ?
                                        'otro' : 'otros'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option
                                    (click)="getFiltrosAplicadosRailways(countryRailways.code, countryRailways.name, 'P')"
                                    *ngFor="let countryRailways of countriesRailways"
                                    [value]="countryRailways.name">{{countryRailways.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="contenedor-control h-100">
                        <label>Indicador</label>
                        <mat-form-field>
                            <mat-select (selectionChange)="changeSelectorRailways()" name="medida"
                                formControlName="cboMedida">
                                <mat-option *ngFor="let itemRailways of medidaFiltrado" [value]="itemRailways">
                                    {{itemRailways}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-form-field class="example-chip-list contenedor-control-Chip">
                <label>Filtros aplicados:</label>
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let selectRailways of selectToChipsRailways" [selectable]="selectableRailways"
                        [removable]="removableRailways" (removed)="removeChip(selectRailways)">
                        {{selectRailways.valor}}
                        <button matChipRemove *ngIf="removableRailways">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
            <div hidden class="row mb-3" style="margin-top: 2.5%;">
                <div class="col col-lg-2">
                    <button [disabled]="inactiveButtonRailways" (click)="graficarRailways()"
                        class="btn-graficar btn-graficar-large">Graficar</button>
                </div>
            </div>
        </section>
        <div class="alert alert-secondary mt-3 text-center" *ngIf="alertMessageRailways">
            <mat-icon>info</mat-icon>
            <p class="type-text" style="text-align: center;">Seleccione año, país e indicador para visualizar la
                gráfica.</p>
        </div>
        <section *ngIf="!alertMessageRailways">
            <div class="mt-5">
                <div class="row form-inline">
                    <div class="col">
                        <nav>
                            <div class="nav nav-tabs pull-right" id="myTabRailways" role="tablist">
                                <li id="columnaRail" class="nav-item" role="presentation">
                                    <button class="nav-link active type-text" id="tab-column-rail" data-bs-toggle="tab"
                                        data-bs-target="#graphic-tab-column-rail" type="button" role="tab"
                                        aria-controls="graphic-tab-column-rail" aria-selected="true">Columna</button>
                                </li>
                                <li id="lineaRail" class="nav-item" role="presentation">
                                    <button class="nav-link type-text" id="tab-line" data-bs-toggle="tab"
                                        data-bs-target="#graphic-tab-line" type="button" role="tab"
                                        aria-controls="graphic-tab-line" aria-selected="false">Línea</button>
                                </li>
                                <li id="tablaRail" class="nav-item" role="presentation">
                                    <button class="nav-link type-text" id="tab-table" data-bs-toggle="tab"
                                        data-bs-target="#graphic-tab-table" type="button" role="tab"
                                        aria-controls="graphic-tab-table" aria-selected="false">Tabla</button>
                                </li>
                            </div>
                        </nav>
                        <h3 class="title-tab">{{nameGraphicRailways}}</h3>
                    </div>
                </div>
                <div class="tab-content border-control-tab" id="myTabContent">
                    <div class="tab-pane  show active p-3" id="graphic-tab-column-rail" role="tabpanel"
                        aria-labelledby="tab-column-rail" tabindex="0">
                        <br>
                        <div class="row">
                            <div [chart]="columnChartRailways" style="width: 98%;"></div>
                        </div>
                    </div>
                    <div class="tab-pane  p-3" id="graphic-tab-line" role="tabpanel" aria-labelledby="tab-line"
                        tabindex="0">
                        <br>
                        <div class="row">
                            <div [chart]="lineChartRailways" style="width: 98%;"></div>
                        </div>
                    </div>
                    <div class="tab-pane  p-3" id="graphic-tab-table" role="tabpanel" aria-labelledby="tab-table"
                        tabindex="0">
                        <div class="table-responsive" [innerHTML]="tableHtmlRailways"></div>
                    </div>
                </div>
            </div>
            <br>
        </section>
    </form>
</article>